
body{
	background-color: #363d54;
	background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}
#en-tete{
	border-top: 3px solid #a5a6ab;
	border-right: 3px solid #a5a6ab;
	border-left: 3px solid #a5a6ab;
	border-radius: 3px;
	width: 85%;
	margin-left: 7%;
}
ul{
	display: flex;
	width: 75vw;
	justify-content: space-around;
	list-style-type: none;
	margin-top: 0%;
}
span{
	display: flex;
	border-radius: 3px;
	background-color: #00ffff77;
	border: 1px solid;
	height: 0.5vw;
}
#resume{
	border: 3px solid  #a5a6ab;
	border-radius: 3px;
	width: 84%;
	margin-left: 7%;
	font-size: 1.03em;
	padding: 0.5%;
}
#lisere{
	background-color: #00ffff77;
	border: 1px solid;
	border-radius: 30px;
	width: 80%;
	height: 1.3vw;
	margin-top: 0.9%;
}
h1{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#paragraphe{
	display: flex;
	align-content: flex-end;
	text-align: center;
	color: #a5a6ab;
}
h2{
	margin-top: 0.5%;
}
#titre{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 5%;
}
#contenu{
	display: flex;
	justify-content: space-around;
}
.para{
	display: flex;
	justify-content: space-around;
	align-content: center;
	border: 3px solid #a5a6ab;
	border-radius: 3px;
	width: 85%;
	height: auto;
	margin-left: 7%;
	margin-bottom: 1%;
	text-align: justify;
	font-size: 1.3em;
}
.manga{
	display: flex;
	padding: 0.5%;
	width: 10%;
}
#tableau{
	width: 83%;
	margin-left: 7%;
	border: 3px solid #a5a6ab;
	border-radius: 3px;
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 1%;
}
#attendant{
	display: flex;
}
#moi{
	display: flex;
	justify-content: space-between;
	margin-left: -0.5%;

}
table{
	border: 3px solid #a5a6ab;
	width: 20%;
	margin-left: 7%;
	margin-right: 10%;
	height: 287px;
	background-color: #c5f0ec;
	
}
.claire{
	opacity: 0.55;
}
#treize{
	background-color: #f0e2c5;
}
#vingt{
	background-color: beige;
}
#trente{
	background-color: #e8c5f0;
}
#avril{
	background-image: url(https://redknight.ca/images/betty_boop_images/bettyBiker.gif);
	background-repeat: no-repeat;
	padding: 10%;
	border-bottom: 1px solid;
	font-size: 3.2em;
	background-color: beige;
}
#mai{
	background-image: url(https://redknight.ca/images/betty_boop_images/bettyBiker.gif);
	background-repeat: no-repeat;
	padding: 10%;
	border-bottom: 1px solid;
	font-size: 3.2em;
	background-color:  #f0e2c5;
}
#juin{
	background-image: url(https://redknight.ca/images/betty_boop_images/bettyBiker.gif);
	background-repeat: no-repeat;
	padding: 10%;
	border-bottom: 1px solid;
	font-size: 3.2em;
	background-color:  #e8c5f0;
}
td, tr{
	box-shadow: 3px 1px 1px black;
	text-align: center;
	color: black;
}
.jours{
	font-size: 1em;
}
.lapin{
	width: 5vw;

}
.lapine{
	width: 5vw;
}
footer{
	padding: 0.5%;
	display: flex;
	justify-content: space-between;
	border: 3px solid #a5a6ab;
	border-radius: 3px;
	width: 84%;
	margin-left: 7%;
	background-color: #ffffff;
}
#foot{
	text-align: center;
	font-size: 0.5em;
	color: black;

}
header{
	display: flex;
	align-items: flex-end;
	width: 100%;
	background-color: #ffffff;
}
.lire{
	color: #ffffff;
	border: 3px solid #a5a6ab;
	border-radius: 5px;
	margin-left: 0%;
	margin-top: 8%;
	margin-bottom: 1%;
	font-size: 1em;
	padding: 0.3%;
}
p{
	color: #a5a6ab;
}
#marge{
	margin-bottom: 1.5%;
}
.lien{
	width: 100%;
}
.fbkT{
	width: 10%;
}
#classe{
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	justify-content: flex-start;
}